* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

body {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #333;
	font-size: 16px;
	margin: 0;
}

a {
	text-decoration: none;
}

main {
    position: relative;
    padding-block: 40px 80px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BrunoAceSC", "Poppins", Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-block: 0 80px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10px;
}

.sbar {
    position: relative;
	flex: 1;
}

#sbar-input {
    font-family: "Rationale", "Poppins", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 18px;
    padding: 15px 30px 15px 55px;
    border: 1px solid #ddd;
    border-radius: 60px;
    transition: .2s ease-in-out;
}

#sbar-input:hover,
#sbar-input:focus {
    border-color: #333;
    outline: none;
}

.sbar-icon {
    position: absolute;
    top: 11px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.sbar-icon * {
    stroke: #727272;
}

.scat {
    display: flex;
    column-gap: 10px;
}

.scat-block {
    height: 50px;
    cursor: pointer;
}

.scat-input {
    display: none;
}

.scat-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: .2s ease-in-out;
}

.scat-logo:hover,
.scat-input:checked + .scat-logo {
    opacity: 1;
}

.characters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.char-bast {
    font-family: "BrunoAceSC", "Poppins", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-block: 30px 15px;
    transition: .2s ease-in-out;
    display: none;
}

.char-bast span {
    color: #727272;
    font-size: 15px;
    margin-left: 5px;
}

.char-bast.active {
    display: block;
}

.char-block {
    position: relative;
    width: calc((100% / 6) - (50px / 6));
    height: 320px;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, .7);
    overflow: hidden;
    transition: .2s ease-in-out;
    display: none;
}

.char-block.active {
    display: block;
}

.char-bg {
    background-color: #aaa;
    width: 100%;
    height: 100%;
}

a.char-block .char-bg {
    background-color: #bdc5d5;
}

.char-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.char-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51,51,51,.5);
    color: #fff;
    font-family: "Lekton", "Poppins", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 5px;
    text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    transition: .2s ease-in-out;
}

a.char-block:hover .char-name {
    background-color: #333;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.back-icon {
    width: 40px;
    height: 40px;
}

.back-icon * {
    fill: #333;
}

.back-text {
    color: #333;
}

.back:hover .back-icon * {
    fill: #3865ff;
}

.back:hover .back-text {
    color: #3865ff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.slide {
    animation-name: slide;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes slide {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1400px) {

    .container {
        width: 900px;
    }

    .char-block {
        width: calc((100% / 5) - (40px / 5));
        height: 290px;
    }
}

@media only screen and (max-width: 1023px) {

    .container {
        width: 700px;
    }

    .title {
        margin: 30px 0 60px;
    }

    .search {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .sbar {
        width: 100%;
        margin-bottom: 15px;
    }

    .char-block {
        width: calc((100% / 4) - (30px / 4));
        height: 280px;
    }
}

@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
        padding-inline: 20px;
    }

    .title {
        font-size: 30px;
        margin: 60px 0 20px;
    }

    .scat {
        justify-content: center;
        flex-wrap: wrap;
		gap: 10px;
    }

    .char-bast {
        margin-block: 40px 15px;
    }

    .char-block {
        width: calc(50% - 5px);
        height: 320px;
    }
}
